<nav class='main-nav-wrap'> 
    <ul class='main-nav group'> 
      <u>
    <li><a href="#">Home</a></li> 
    <li><a href="#">Services</a></li> <br> 
     <div class="contact section" >
<h1  >Contact Us</h1>
    <form class="contact" > 
      <input type="text" class="contact-text" placeholder="Your name">
      <input type="text" class="contact-text" placeholder="Your email">
      <input type="text" class="contact-text" placeholder="Your number">
      <textarea class="contact-text" placeholder="Your message"></textarea>
        <input type="submit" class="contact-btn" value="send">
  </form>
</div>


     </u>
     </ul> 
    </nav> 
 

    

<header>

<h2 style="text-align: center;"><span style="font-family:courier new,courier,monospace;"><span style="color: rgb(36, 14, 97);">WELCOME TO THE CHAMPAGNE CASTLE HOTEL</span></span></h2>
</header>

<div class="pic">
<img src='../../assets/1b.jpg'width="1500" height="700" >

</div>





<section class="wrapper style2" id="two">

<header>

<h2 style="text-align: center;">The Beauty of The champagne-castle-view</h2>

</header>


<div class="pic1">

    <img src='../../assets/drakens.jpg'width="1500" height="700%">
  <p >As a guest of Champagne Castle Hotel you have access to daily Guided Walks, Lawn Bowls, Tennis, Badminton, the Animal Farm and Bird Aviary completely free of charge.
  Our location at the top of the Champagne Valley ensures a diverse variety of activities, places of interest and a multitude of things to do and explore, all within a short distance.
  TripAdvisor’s top 2 rated activities in the area (The Drakensberg Boys Choir, and Falcon Ridge Raptor Show) are within 5km of the Hotel.</p>
  <button routerLink="/home">submit</button>
  </div>

  <div class="pic2">
      <img src='../../assets/bedroom.jpg'width="1500" height="700"> 
      <p>The resort offers a variety of superb, fully serviced accommodation. The 152 hotel bedrooms are made up of twin rooms, family rooms, and various suites, all with well-appointed bedrooms and either mountain views or garden views. A further 91 chalets on the estate are used for hotel accommodation subject to availability.
          The hotel has wheelchair access throughout and all bedrooms are linked to the main hotel buildings by way of thatch covered walkways.
          </p>
      <button routerLink="/home">submit</button>
    </div>


    <div class="pic3">
        <img src='../../assets/dini.jpg'width="1500" height="700">
        <p>If guests prefer good view they should be able to select the best type of room. Providing the guest with more options to upgrade the room where they can choose to stay near the beach or at the beach.</p>
        <button routerLink="/home">submit</button>
      </div>


      <div class="pic4">
          <img src='../../assets/mountain.jpg 'width="1500"height="700">
          <p>We appointed Johannesburg based Pulp Films to put two promotional videos together of Champagne Castle Hotel. We wanted a video that would capture both the Hotel and our Self Catering accommodation. We wanted people to see the beauty of the Drakensberg mountains that we’re nestled up against, and the wide open invitation to explore them. We definitely wanted past, current and future guests to get a feel for the essence of what they would experience during their stay at one of South Africa’s Premier Resorts</p>
          <button routerLink="/home">submit</button>
        </div>

        <div class="pic5">
            <img src='../../assets/catering.jpg'width="1500" height="700"> 
            <p>Try to encouraging guests to celebrate special occasion more often. With good selection of food, wine, fresh fruit and handmade chocolate will stimulate the guests to order more</p>
            <button routerLink="/home">submit</button>
          </div>
      
         